# Node.js
node_modules/
.npmrc
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Android/Gradle
mobile-android/.gradle/
mobile-android/.idea/
mobile-android/local.properties
mobile-android/build/
mobile-android/app/build/
**/build/
**/.cxx/

# APKs and signing
*.apk
*.aab
*.keystore
*.jks

# OS / editor
.DS_Store
Thumbs.db
*.iml
.vscode/
